.user-bookings {
    padding: 20px;
  }
  
  .bookings-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .bookings-table th, .bookings-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .bookings-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .error-message {
    color: red;
  }
  .create-booking-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .create-booking-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
  

  .create-booking-button:active {
    background-color: #3e8e41;
    transform: scale(1);
  }
 
  .create-booking-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 255, 0, 0.5);
  }